* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'OpenSans';
    overflow-x: hidden;
}

.font {
    font-size: 16px;
    line-height: 30px;
    color: #7a7a7a;
}

/*backgroung*/
.background {
    width: 100%;
    background-image: url("images/background1.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 750px;
    position: relative;
    top: -11rem;
    z-index: 2;
}

.background_content {
    padding: 20rem 10rem;
}

.main_title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.sub_title {
    font-size: 1.5rem;
    font-style: oblique;
    margin-bottom: 8rem;
}

/*.main_button a {*/
/*    margin-top: 3rem;*/
/*    border: 1px solid black;*/
/*    border-radius: 5%;*/
/*    padding: 1rem 2.5rem;*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    font-weight: bold;*/
/*    font-size: 1.2rem;*/
/*}*/

.button {
    background: #916b64;
    color: white;
    font: inherit;
    border: 2px solid #6d4f4a;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #916b64;
}

.button:focus {
    outline: none;
}

.open {
    display: block !important;
}

.forNoScroll {
    overflow: hidden
}


.main-contenier {
    position: relative;
    top: -6rem;
}

/*advantages*/

.main_advantages {
    text-align: center;
}

.main_title--basic p {
    width: 65%;
    margin: 0 auto;
}

.title_advantages p {
    line-height: 30px;
    font-size: 16px;
    width: 60%;
    display: block;
    margin: 0 auto;
}

.main_icons {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 0 1.5rem;
}

.icon {
    width: 250px;
}

.icon a {
    display: inline-block;
    position: relative;
    padding: 3px;
    vertical-align: top;
    border: 3px solid #de696b;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*-webkit-transition: 0.8s;*/
    /*-moz-transition: 0.8s;*/
    /*-o-transition: 0.8s;*/
    /*transition: 0.8s;*/
}

.icon a:before {
    background: #de696b;
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*-webkit-transition: 0.8s;*/
    /*-moz-transition: 0.8s;*/
    /*-o-transition: 0.8s;*/
    /*transition: 0.8s;*/
    z-index: -1;
    content: '';
}

.icon a:before:hover {
    background: #7a7a7a;;
}

.icon a img {
    -webkit-transition: 0.5s; */
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.icon a img:hover {
    transform: rotateY(360deg) rotateX(0);
}

.description {
    display: flex;
    justify-content: center;
    margin-bottom: 49px;
}

.description .icon_description h5 {
    margin: 0 0 23px 0;
    padding: 0;
    letter-spacing: 1.5px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 700;
    color: #444444;
}

.description .icon_description p {
    width: 250px;
}



/*categories*/
.main_catalog {
    text-align: center;
    padding: 47px 0 47px 0;
    background: #f5f5f5;
    height: 700px;
}

.button-catalog {
    position: relative;
    top: 25rem;
}

.slider, .slider1, .slider2 {
    position: absolute;
    overflow: hidden;
    width: 86%;
    left:50%;
    transform:translate(-50%);
}


.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
    margin-top: 20px;
    /*position: relative;*/

}


.displayNone {
    visibility: hidden;
}

.slider__item {
    flex: 0 0 33.333333%;
    max-width: 20.333333%;
    margin: 0 10px;
    position: relative;


}

.arrows {
    /*display: flex;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    margin-top: 5rem;
}

.slider__control {
    opacity: 0.5;
}

.slider__control:hover,
.slider__control:focus {
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

/*.slider__control_left::before {*/
    /*background-image: url("image/arrow1.png");*/
/*}*/

/*.slider__control_right::before {*/
    /*background-image: url("image/arrow2.png");*/
/*}*/

/*.slider__item>div {*/
/*background-image: url("image/1.jpg");*/
/*background-size: cover;*/
/*height: 230px;*/
/*}*/

/*.slider1.slider__wrapper .slider__item>div, .slider2.slider__wrapper .slider__item>div {*/
/*background-image: url("image/коробка.jpg");*/
/*background-size: cover;*/
/*height: 230px;*/
/*}*/

.slider__wrapper .slider__item img {
    height: 270px;
    width: 100%;
    background-size: cover;
}

.menu_catalog button {
    border: none;
    outline: none;
    padding: 0 39px 15px 39px;
    /*-webkit-border-radius: 0;*/
    /*-moz-border-radius: 0;*/
    /*border-radius: 0;*/
    /*-webkit-box-shadow: none;*/
    /*-moz-box-shadow: none;*/
    /*box-shadow: none;*/
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    border-bottom: 3px solid #d3d3d3;
    letter-spacing: 1.6px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 700;
    color: #d3d3d3;
    cursor: pointer;
    background: #f5f5f5;
}

.menu_catalog button:hover {
    color: #de696b;
    border-bottom: 3px solid #de696b;
}


.hover-buttons {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50%;
    right: 0;
    display: none;
}

.slider__item:hover .hover-buttons {
    display: inline-block;
}

.zoom-small {
    position: absolute;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 2;
    width: 100%;
    height: 270px;
}

.zoom-small:hover {
    background: #de696b;
    /*border-bottom: 3px solid black;*/
    opacity: 0.5;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    background: black;
    display: none;
}

.overlay.active {
    display: block;
}

.popup {
    position: fixed;
    width: 100%;
    max-width: 600px;
    border: 1px solid black;
    padding: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    display: none;
}

.popup.active {
    display: block;
}

.full-image {
    width: 1000px;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    display: none;
}

.full-image.active {
    display: block;
}

.close {
    position: absolute;
    top: -40px;
    right: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: silver;
}

.close:after {
    content: '\2716';
    display: inline-block;
    font-size: 20px;
    margin-left: 50%;
    transform: translate(-50%);
}

.close:hover {
    color: white;
    cursor: pointer;
}

.active-button {
    color: #de696b !important;
    border-bottom: 3px solid #de696b !important;
}


/*delivery*/

/*.main_delivery {*/
    /*padding: 47px 0 47px 0;*/
/*}*/

/*.title_delivery h3 {*/
    /*position: relative;*/
    /*padding: 0 0 24px 0;*/
    /*letter-spacing: 3px;*/
    /*text-transform: uppercase;*/
    /*margin: 0 0 63px 0;*/
    /*line-height: 30px;*/
    /*font-size: 30px;*/
    /*font-weight: 700;*/
    /*color: #444;*/
    /*text-align: center;*/
/*}*/

/*.delivery-bottom {*/
    /*margin-bottom: 26px;*/
/*}*/

/*.title_delivery h3:before {*/
    /*background: #444;*/
    /*display: block;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 50%;*/
    /*width: 44px;*/
    /*height: 3px;*/
    /*overflow: hidden;*/
    /*margin: 0 0 0 -22px;*/
    /*content: '';*/
/*}*/

.main_delivery {
    text-align: center;
    padding: 47px 0 47px 0;
}

.title_delivery h3 {
    z-index: -1;
}

.content_delivery p {
    line-height: 30px;
    font-size: 16px;
    width: 60%;
    margin: 0 auto;
}


/*reviews*/

.main_reviews {
    text-align: center;
    padding: 47px 0 47px 0;
    background: #f5f5f5;
}

.slider-reviews {
    position: relative;
    overflow: hidden;
}

.slider__wrapper-reviews {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item-reviews {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.flex {

}

.slider__item-reviews img {
    border-radius: 50%;
    width: 200px;
}

.slider__item-reviews h4 {
    color: #131415;
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    margin-top: 2rem;
}

.arrows_reviews {
    text-align: center;
    margin-top: 2rem;
}

.flex h4 {
    margin: 0 0 23px 0;
    padding: 0;
    letter-spacing: 1.5px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 700;
    color: #444444;
    font-family: "Open Sans";
}

.slider__item-reviews p {
    margin: 0 1rem 0 3rem;
    width: 40%;
    display: flex;
    align-items: center;
    text-align: left;
}

.slider__control {
    /*position: absolute;*/
    /*top: 50%;*/
    /*display: none;*/
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    /*background: rgba(0, 0, 0, .5);*/
}

.slider__control_show {
    /*display: flex;*/
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("images/arrow1.png");
    font-size: 46px;
    color: #444;
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");*/
}

.slider__control_right::before {
    background-image: url("images/arrow2.png");
    font-size: 46px;
    color: #444;
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");*/
}

.slider__item-reviews > div {
    text-align: center;
}

.reviews-container h3 {
    font-weight: 700;
    font-style: normal;
    font-family: 'Merriweather', serif;
    color: #131415;
    font-size: 45px;
    line-height: 1;
    margin: 5rem 0 1.5rem 0;
    text-align: center;
}











.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal_position--button {
    position: relative;
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
    margin: 0 auto;
}

.modal__actions input {
    display: inline-block;
    padding: 10px 30px;
    width: 60%;
    margin: 7px;
}

.modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    /*padding: 0.5rem 1rem;*/
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    /*top: -44%;*/
    /*left: 98%;*/
    right: 0;
    top: 0;
}

.modal__action--negative {
    background: #d83f2d;
    border-color: #d83f2d;
}

.modal__action--negative:before {
    content: "\2716";
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}



