* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'OpenSans';
}

/*header*/
.main_header {
    width: 100%;
    display: flex;
    justify-content: space-around ;
    margin: 2rem;
    position: relative;
    z-index: 10;
}

.main-logo {
    background: #de696b;
    position: relative;
    min-height: 27px;
    padding: 37px 25px 37px 0;
    line-height: 18px;
}

.main-logo:before {
    background: #de696b;
    display: block;
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: -10000px;
    width: 10000px;
    z-index: -1;
    content: '';
}

.main_nav {
    /*margin: 0 auto;*/
    /*padding: 40px 0 0;*/
    padding: 37px 25px 37px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main_nav:before {
    display: block;
    position: absolute;
    top: 0px;
    right: auto;
    bottom: 0px;
    left: 50%;
    width: 20000px;
    z-index: -2;
    content: "";
    background: rgb(255, 255, 255);
    margin: 0px 0px 0px -10000px;
}

.main_nav_item {
    padding: 0 2.2rem;
}

.main_nav a {
    font: bold 15px/20px Open Sans;
    color: #333333;
}

.main_nav a:before {
    /*background: url(test_icon.jpg) no-repeat 0 0;*/
    display: block;
    position: absolute;
    top: -20px;
    left: 50%;
    /*width: 13px;
    height: 11px;*/
    overflow: hidden;
    margin: 0 0 0 -6px;
    opacity: 0;
    /*filter: alpha(opacity=0);*/
    /*-webkit-transition: .8s;
    -moz-transition: .8s;
    -o-transition: .8s;*/
    transition: 1.2s ease-out;
    content: url(images/menu_icon.png);
}

.main_nav li:hover a:before {
    opacity: 1;
}

.main_nav li {
    position: relative;
}




.main_nav .main_nav_items {
    list-style-type: none;
}

.main_nav a, .mobile_nav a {
    text-decoration: none;
}

.main_nav_items {
    display: flex;
}

.mobile_nav {
    display: none;
}

.main_number {
    padding: 37px 25px 37px 0;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
}

.main_number a {
    text-decoration: none;
    font: bold 15px/20px Open Sans;
    color: #333333;
}





/*footer*/

.main_footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #de696b;
    position: relative;
    min-height: 27px;
    padding: 37px 25px 37px 0;
    line-height: 18px;
    color: white;
}

.main-logo .copy a {
    text-decoration: none;
    color: white;
}

.footer_nav {

}

.footer_nav__item {
    list-style-type: none;
}

.footer_nav__items {
    padding: 10px 0;
}

.footer_nav__item a {
    text-decoration: none;
    color: white;
}

.main_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main_contact span {
    display: block;
    position: relative;
}

.main_adress {

}

.number {
    margin-top: 4rem;

}

.main_contact .main_adress span:before {
    background: url(images/icon_1.webp) no-repeat 0 0;
    display: block;
    width: 48px;
    height: 60px;
    overflow: hidden;
    position: absolute;
    top: -1rem;
    left: -5rem;
    content: '';
}

.main_contact .number span:before {
    background: url(images/почта.PNG) no-repeat 0% 0%;
    display: block;
    width: 61px;
    height: 46px;
    overflow: hidden;
    position: absolute;
    top: -1rem;
    left: -4.9rem;
    content: '';
}


/*медиа*/

.main-media {
    text-align: center;
    padding: 47px 0 47px 0;
}

.media-titile {
    margin: 0 0 63px 0;
}

/*.social_links li a {*/
/*display: inline-block;*/
/*-webkit-transition: 0.8s;*/
/*-moz-transition: 0.8s;*/
/*-o-transition: 0.8s;*/
/*!* transition: 0.8s; *!*/
/*vertical-align: top;*/
/*line-height: 44px;*/
/*font-size: 44px;*/
/*color: #444;*/
/*}*/


/*.social_link__instagram:before {*/
/*content: '\f16d';*/
/*}*/

.social_links {
    display: flex;
    justify-content: center;
}

.social_links li {
    list-style-type: none;
    margin: 0 1rem;
}

.social_links li a {
    opacity: 0.5;
}

.social_links li a img {
    /*display: none;*/
    width: 50px;
    height: 50px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 1s;
}

.social_links li a img:hover {
    transform: rotateY(360deg) rotateX(0);
}



/*title*/

.main_title--basic {
    margin: 0 0 63px 0;
    text-align: center;
}

.title {
    position: relative;
    padding: 0 0 24px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 26px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #444;
}

.title:before {
    background: #444;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 44px;
    height: 3px;
    overflow: hidden;
    margin: 0 0 0 -22px;
    content: '';
}